{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">

      <!-- Slider -->
      <div class="bg-slider">
        <div class="slider slider-no-controls slider-no-draggable slider-fade" id="hero-slider-bg">
          <div class="slider-item">
            
            <!-- Cover -->
            <div class="bg-cover" style="background-image: url({% static 'img/listing.jpg' %})"></div>

          </div>
          <div class="slider-item">
            
            <!-- Cover -->
            <div class="bg-cover" style="background-image: url({% static 'img/lp.jpg' %})"></div>

          </div>
          <div class="slider-item">
            
            <!-- Cover -->
            <div class="bg-cover" style="background-image: url({% static 'img/accelerating.jpg' %})"></div>

          </div>
        </div>
      </div>

      <!-- Overlay -->
      <div class="bg-overlay"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-7 order-md-2">

            <!-- Slider -->
            <div id="hero-slider" class="slider slider-no-controls slider-no-draggable slider-fade mb-5 mb-md-0" data-bind="slider" data-target="#hero-slider-bg">
              
              
              <div class="slider-item">

                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted">
                  by Simpleqode
                </p>
                
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  LISTING STRATEGY FORMULATION
                </h1>

                <!-- Subheading -->
                <p class="lead text-white text-muted text-center mb-5">
                  Create beautiful websites from scratch with multiple pre-built pages and styled components.
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary text-white">
                    보 러 가 기
                  </a>
                </p>

              </div>

              <div class="slider-item">

                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted">
                  by Simpleqode
                </p>
                
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  LP PROVISIONLP PROVISION
                </h1>

                <!-- Subheading -->
                <p class="lead text-white text-muted text-center mb-5">
                  Incline is set of landing and support pages aimed at helping companies promote new products and business launches.
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary text-white">
                    보 러 가 기
                  </a>
                </p>

              </div>

              <div class="slider-item">

                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted">
                  by Simpleqode
                </p>
                
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  ACCELERATING SERVICE
                </h1>

                <!-- Subheading -->
                <p class="lead text-white text-muted text-center mb-5">
                  Create beautiful websites from scratch with multiple pre-built pages and styled components.
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary text-white">
                    보 러 가 기
                  </a>
                </p>

              </div>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-1">

            <!-- Controls -->
            <div class="text-left">
              <a href="#hero-slider" class="slider-control" data-slide="previous">
                <span class="icon-arrow-left icon-2x"></span>
              </a>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-3">

            <!-- Controls -->
            <div class="text-right">
              <a href="#hero-slider" class="slider-control" data-slide="next">
                <span class="icon-arrow-right icon-2x"></span>
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- POST
    ================================================== -->
    <section class="section pb-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">

            
            
            <!-- Heading -->
            <h1 class="mb-5 font-weight-bold text-center">
              국내 외 전략적인 대형거래소부터 <br>중소형 거래소까지 상장을 도와드립니다
            </h1>
            
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
            <!-- Image -->
            <img src="{% static 'img/56.jpg' %}" alt="..." class="img-fluid mb-3">

            <!-- Caption -->
            <p class="text-center text-sm text-muted mb-5">
              Sint cum consectetur error mollitia at, eius illo. Deleniti, magnam.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">

            <blockquote class="blockquote">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum labore molestiae voluptatibus officia quae aliquid aperiam nulla suscipit, eveniet distinctio. Officiis quis impedit quo nobis dolores architecto quos perferendis! Aliquam?
              </p>
            </blockquote>

            <p>
              Lorem ipsum dolor sit amet, <a href="#!">consectetur adipisicing</a> elit. Accusantium, culpa iure ut quae. Consequuntur cumque voluptate assumenda placeat ipsum odit veritatis cupiditate, ea quam eaque, maxime nemo sint. In, fuga.
            </p>

            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus rerum dolores modi numquam! Placeat consequatur quisquam, ad hic dolore dolorum asperiores provident dolor, aspernatur expedita excepturi consectetur ullam <a href="#!">magni quod</a>.
            </p>

            
      </div> <!-- / .container -->
    </section>


   

    <!-- QUOTE
    ================================================== -->
    <section class="section">

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9">
        
            <!-- Quote -->
            <div class="quote">
              <blockquote class="quote-blockquote">
                <p class="quote-blockquote-content">
                  기업의 최고의 무기와 돈 벌이 수단은 ACCELERATING이 답이다. 기업의 최고의 무기와 돈 벌이 수단은 ACCELERATING이 답이다.
                </p>
                <footer class="quote-blockquote-footer">
                  <span class="text-zigzag">
                    Dragon KWON
                  </span>
                </footer>
              </blockquote>
            </div> <!-- / .quote -->
        
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

{% endblock %}