{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <!-- HERO
    ================================================== -->
    <section class="section section-top section-full">

      <!-- Slider -->
      <div class="bg-slider">
        <div class="slider slider-no-controls slider-no-draggable slider-fade" id="hero-slider-bg">
          <div class="slider-item">
            
            <!-- Cover -->
            <div class="bg-cover" style="background-image: url({% static 'img/lp.jpg' %})"></div>

          </div>
          <div class="slider-item">
            
            <!-- Cover -->
            <div class="bg-cover" style="background-image: url({% static 'img/accelerating.jpg' %})"></div>

          </div>
          <div class="slider-item">
            
            <!-- Cover -->
            <div class="bg-cover" style="background-image: url({% static 'img/listing.jpg' %})"></div>

          </div>
        </div>
      </div>



      <!-- Overlay -->
      <div class="bg-overlay"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-7 order-md-2">

            <!-- Slider -->
            <div id="hero-slider" class="slider slider-no-controls slider-no-draggable slider-fade mb-5 mb-md-0" data-bind="slider" data-target="#hero-slider-bg">
              
              
              

              <div class="slider-item">

                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted">
                  by Simpleqode
                </p>
                
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  LP PROVISIONLP PROVISION
                </h1>

                <!-- Subheading -->
                <p class="lead text-white text-muted text-center mb-5">
                  Incline is set of landing and support pages aimed at helping companies promote new products and business launches.
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary text-white">
                    보 러 가 기
                  </a>
                </p>

              </div>

              <div class="slider-item">

                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted">
                  by Simpleqode
                </p>
                
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  ACCELERATING SERVICE
                </h1>

                <!-- Subheading -->
                <p class="lead text-white text-muted text-center mb-5">
                  Create beautiful websites from scratch with multiple pre-built pages and styled components.
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary text-white">
                    보 러 가 기
                  </a>
                </p>

              </div>

              <div class="slider-item">

                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted">
                  by Simpleqode
                </p>
                
                <!-- Heading -->
                <h1 class="text-white text-center mb-4">
                  LISTING STRATEGY FORMULATION
                </h1>

                <!-- Subheading -->
                <p class="lead text-white text-muted text-center mb-5">
                  Create beautiful websites from scratch with multiple pre-built pages and styled components.
                </p>

                <!-- Button -->
                <p class="text-center mb-0">
                  <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary text-white">
                    보 러 가 기
                  </a>
                </p>

              </div>

            </div>

          </div>
          <div class="col-6 col-md-2 order-md-1">

            <!-- Controls -->
            <div class="text-left">
              <a href="#hero-slider" class="slider-control" data-slide="previous">
                <span class="icon-arrow-left icon-2x"></span>
              </a>
            </div>

          </div>
          <div class="col-6 col-md-2 order-md-3">

            <!-- Controls -->
            <div class="text-right">
              <a href="#hero-slider" class="slider-control" data-slide="next">
                <span class="icon-arrow-right icon-2x"></span>
              </a>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>


    <!-- FEATURES
    ================================================== -->
    <section class="section">

      

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
          
            <!-- Heading -->
            <h2 class="text-center mb-4">
              LP PROVISIONLP PROVISION
            </h2>

            <!-- Subheading -->
            <p class="text-center text-muted text-left mb-5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo officiis odio repudiandae illum molestiae.
            </p>
          
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-md-4">

            <!-- Item -->
            <div class="text-center mb-5 mb-md-0">
              
              <!-- Icon -->
              <div class="text-primary mb-4">
                <span class="icon icon-businessman icon-2x"></span>
              </div>

              <!-- Heading -->
              <h4 class="mb-3">
                거래량 유지
              </h4>

              <!-- Content -->
              <p class="text-muted mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa, corporis.
              </p>

            </div>

          </div>
          <div class="col-md-4">

            <!-- Item -->
            <div class="text-center mb-5 mb-md-0">
              
              <!-- Icon -->
              <div class="text-primary mb-4">
                <span class="icon icon-shield icon-2x"></span>
              </div>

              <!-- Heading -->
              <h4 class="mb-3">
                가격 유지
              </h4>

              <!-- Content -->
              <p class="text-muted mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa, corporis.
              </p>

            </div>

          </div>
          <div class="col-md-4">

            <!-- Item -->
            <div class="text-center">
              
              <!-- Icon -->
              <div class="text-primary mb-4">
                <span class="icon icon-clock icon-2x"></span>
              </div>

              <!-- Heading -->
              <h4 class="mb-3">
                차트 메이킹
              </h4>

              <!-- Content -->
              <p class="text-muted mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi culpa, corporis.
              </p>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- INFO
    ================================================== -->
    <section class="bg-light overflow-hidden">

      <!-- Content -->
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-6 section pb-0 py-md-0">
            
            <!-- Image -->
            <div class="img-half img-half-left">
              <img src="{% static 'img/59.jpg' %}" alt="..." class="img-cover">
            </div>

          </div>
          <div class="col-12 col-md-6 col-xl-5 offset-xl-1 section">

            <!-- Heading -->
            <h3 class="mb-4">
              거래량을 유지시킴으로써  <span class="text-primary">빛과 소금</span>이 될 수 있습니다.
            </h3>

            <!-- Text -->
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, laborum, accusantium! Hic possimus, cupiditate, perspiciatis animi doloremque tempora dolorum esse ullam qui odio eveniet cumque reiciendis nobis modi delectus porro!
            </p>

            <!-- Button -->
            <a href="#modal-video" data-toggle="modal" class="btn btn-lg btn-outline-primary btn-circle mr-3">
              <i class="fas fa-play"></i>
            </a> Video intro

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- INFO
    ================================================== -->
    <section class="bg-light overflow-hidden">

      <!-- Content -->
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-6 offset-xl-1 order-md-2">
            
            <!-- Image -->
            <div class="img-half">
              <img src="{% static 'img/60.jpg' %}" alt="..." class="img-cover">
            </div>

          </div>
          <div class="col-12 col-md-6 col-xl-5 order-md-1 section">

            <!-- Heading -->
            <h3 class="mb-4">
              가격을 유지시킴 으로써<span class="text-primary">빛과 소금</span>이 될 수 있다.
            </h3>

            <!-- Text -->
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, laborum, accusantium! Hic possimus, cupiditate, perspiciatis animi doloremque tempora dolorum esse ullam qui odio eveniet cumque reiciendis nobis modi delectus porro!
            </p>

            <!-- Button -->
            <a href="#testimonials" class="btn btn-outline-primary">
              Read testimonials
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <section class="bg-light overflow-hidden">

      <!-- Content -->
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-12 col-md-6 section pb-0 py-md-0">
            
            <!-- Image -->
            <div class="img-half img-half-left">
              <img src="{% static 'img/59.jpg' %}" alt="..." class="img-cover">
            </div>

          </div>
          <div class="col-12 col-md-6 col-xl-5 offset-xl-1 section">

            <!-- Heading -->
            <h3 class="mb-4">
              차트를 그리기에 충분한 인재들로써 <span class="text-primary">빛과 소금</span>이 될 수 있습니다.
            </h3>

            <!-- Text -->
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, laborum, accusantium! Hic possimus, cupiditate, perspiciatis animi doloremque tempora dolorum esse ullam qui odio eveniet cumque reiciendis nobis modi delectus porro!
            </p>

            <!-- Button -->
            <a href="#modal-video" data-toggle="modal" class="btn btn-lg btn-outline-primary btn-circle mr-3">
              <i class="fas fa-play"></i>
            </a> Video intro

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

{% endblock %}