{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
     <!-- HERO
    ================================================== -->
    <section class="section section-top section-full" data-parallax="scroll" data-image-src="{% static 'img/partner.jpg' %}">

      <!-- Overlay -->
      <div class="bg-overlay"></div>

      <!-- Triangles -->
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8 col-lg-7">

            <!-- Preheading -->
            <p class="font-weight-medium text-center text-xs text-uppercase text-white text-muted" data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
              by Simpleqode
            </p>
            
            <!-- Heading -->
            <h1 class="text-white text-center mb-4" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
              Partner
            </h1>

            <!-- Subheading -->
            <p class="lead text-white text-muted text-center mb-5" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
              Incline is set of landing and support pages aimed at helping companies promote new products and business launches.
            </p>

            <!-- Button -->
            <p class="text-center mb-0" data-toggle="animation" data-animation="fadeUp" data-animation-order="3" data-animation-trigger="load">
              <a href="https://themes.getbootstrap.com/product/incline-landing-page-set/" target="_blank" class="btn btn-outline-primary text-white">
                Purchase now
              </a>
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

    <!-- SECTIONS
    ================================================== -->
    <!-- PAGES
    ================================================== -->
    <section class="section" id="pages">

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">

            <!-- Heading -->
            <h2 class="text-center mb-4">
              Partner Company
            </h2>

            <!-- Subheading -->
            <p class="text-muted text-center mb-5">
              우리와 함꼐하면 돈이 될껄?
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-md-4">
        
            <!-- Item -->
            <a href="app.html" class="card border-0 mb-3 mb-md-0">
          
              <!-- Image -->
              <div class="card-img-top">
                <img src="{% static 'img/45.png' %}" alt="App landing" class="img-fluid">
              </div>

              <!-- Body -->
              <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">
                  업비트
                </h4>

                <!-- Body -->
                <p class="card-text text-muted">
                  기업, 토큰로고 제작 및 상표등록까지 진행해드리는 서비스입니다.
                </p>

              </div>

            </a> <!-- / .card -->

          </div>
          <div class="col-md-4">
        
            <!-- Item -->
            <a href="company.html" class="card border-0 mb-3 mb-md-0">
          
              <!-- Image -->
              <div class="card-img-top">
                <img src="{% static 'img/90.png' %}" alt="App landing" class="img-fluid">
              </div>

              <!-- Body -->
              <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">
                  참비트
                </h4>

                <!-- Body -->
                <p class="card-text text-muted">
                  ICO 프로젝트 이념에 맞게 다국적 언어의 디자인 작업이 들어간 백서를 개발합니다.
                </p>

              </div>

            </a> <!-- / .card -->

          </div>
          <div class="col-md-4">
        
            <!-- Item -->
            <a href="fullpage.html" class="card border-0 mb-3 mb-md-0">
          
              <!-- Image -->
              <div class="card-img-top">
                <img src="{% static 'img/57.png' %}" alt="Fullpage scrolling" class="img-fluid">
              </div>

              <!-- Body -->
              <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">
                  비트멕스
                </h4>

                <!-- Text -->
                <p class="card-text text-muted">
                  토큰 경제 모델을 개발해 토큰의 가치안정성과 생태계 유지율을 최적화합니다.
                </p>

              </div>

            </a> <!-- / .card -->

          </div>
          <div class="col-md-4">
        
            <!-- Item -->
            <a href="product.html" class="card border-0 mb-3 mb-md-0">
          
              <!-- Image -->
              <div class="card-img-top">
                <img src="{% static 'img/44.png' %}" alt="App landing" class="img-fluid">
              </div>

              <!-- Body -->
              <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">
                  고팍스
                </h4>

                <!-- Body -->
                <p class="card-text text-muted">
                  토큰의 유동성 및 유용성 등을 높이는 최적의 사용 용도 시나리오를 개발합니다.
                </p>

              </div>

            </a> <!-- / .card -->

          </div>
          <div class="col-md-4">
        
            <!-- Item -->
            <a href="real-estate.html" class="card border-0 mb-3 mb-md-0">
          
              <!-- Image -->
              <div class="card-img-top">
                <img src="{% static 'img/46.png' %}"alt="App landing" class="img-fluid">
              </div>

              <!-- Body -->
              <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">
                  빗썸
                </h4>

                <!-- Body -->
                <p class="card-text text-muted">
                  웹사이트 및 어플리케이션 제작을 진행해드리는 서비스입니다. 반응형, 서버개발, 트래픽 비용과 같은 추가내용은 별도의 비용이 요구됩니다.
                </p>

              </div>

            </a> <!-- / .card -->

          </div>
          <div class="col-md-4">
        
            <!-- Item -->
            <a href="restaurant.html" class="card border-0 mb-3 mb-md-0">
          
              <!-- Image -->
              <div class="card-img-top">
                <img src="{% static 'img/91.png' %}" alt="App landing" class="img-fluid">
              </div>

              <!-- Body -->
              <div class="card-body">
            
                <!-- Title -->
                <h4 class="card-title">
                  페이엑스
                </h4>

                <!-- Body -->
                <p class="card-text text-muted">
                  귀하(귀사)의 프로젝트에 적합 또는 필요한 블록체인 개발자 영입이 원활하도록 도와드립니다. 신입,경력, 총책임자(CTO) 수준으로 나뉘어집니다.
                </p>

              </div>

            </a> <!-- / .card -->

          </div>
          
          

          

          


          

          
          
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>

   

    <!-- QUOTE
    ================================================== -->
    <section class="section">

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9">
        
            <!-- Quote -->
            <div class="quote">
              <blockquote class="quote-blockquote">
                <p class="quote-blockquote-content">
                  기업의 최고의 무기와 돈 벌이 수단은 ACCELERATING이 답이다. 기업의 최고의 무기와 돈 벌이 수단은 ACCELERATING이 답이다.
                </p>
                <footer class="quote-blockquote-footer">
                  <span class="text-zigzag">
                    Dragon KWON
                  </span>
                </footer>
              </blockquote>
            </div> <!-- / .quote -->
        
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->

    </section>
{% endblock %}